@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col s12">
        <h2 class="center-align">Scrum poker cards</h2>
        <div class="divider"></div>
    </div>
    <app-root></app-root>
</div>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}