<div class="valign-wrapper please-center center-align">
    <div class="row valign ">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <h3>Waiting on others to choose their cards</h3>
        <a class="waves-effect waves-light btn" [routerLink]="['/card-selection']"><i class=" material-icons left ">mode_edit</i>Change card</a>
    </div>
</div>